* {
    margin: 0;
    padding: 0;
    color: #171515;
}

.header {
    width: 100vw;
    height: 50px;
    background-color: #171515;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #171515;
}

.espacoBotoesMenu {
    max-width: 306px;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botaoDestaques, .botaoContato, .botaoSobre {
    font-family: Arial, Helvetica, sans-serif;
    color: greenyellow;
    height: 7vh;
    width: 101px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.botaoDestaques:hover, .botaoContato:hover, .botaoSobre:hover {
    background-color: greenyellow;
    color: #171515;
}

.espacoTituloPagina {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
}

.tituloPagina {
    width: 320px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.principaisNoticias {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.noticia {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.imagemNoticia {
    max-width: 320px;
    max-height: 180px;
    border-radius: 10px;
}

.tituloNoticia {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.tituloNoticia:hover {
    text-decoration: underline;
}

.texto {
    padding: 20px;
}
